{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}

{% with all_images=product.images.all %}
    {# use length rather then count as the images get queried anyways #}

    {% if all_images|length > 1 %}

        <div id="product-gallery">
          <div class="accordion-group">
                
                {% for mainimage in all_images %}
                    <div id="{{ product.get_title|slugify }}-{{ forloop.counter }}" class="product-main-img accordion-body collapse {% if forloop.first %}in{% endif %}">
                        <div class="image_container">
                            {% thumbnail mainimage.original "x400" upscale=False as thumb %}
                            <img src="{% static thumb.url %}" alt="{{ product.get_title }}" />
                            {% endthumbnail %}
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>

        <div class="product-thumb-img">
            <ul class="row-fluid">
                {% for image in all_images %}
                <li class="span2">
                    <div class="image_container">
                        {% thumbnail image.original "100x100" upscale=False as thumb %}
                        <a href="#{{ product.get_title|slugify }}-{{ forloop.counter }}" class="accordion-toggle" data-toggle="collapse" data-parent="#product-gallery"><img src="{% static thumb.url %}" alt="{{ product.get_title }}" /> </a>
                        {% endthumbnail %}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

    {% else %}

        {# Only one image to show #}
        <div class="es-carousel-wrapper">
            <div class="rg-image single-image">
            {% with image=product.primary_image %}
                {% thumbnail image.original "400x400" upscale=False as thumb %}
                {% if not image.is_missing %}
                    <a href="{{ image.original.url }}" rel="lightbox"><img src="{% static thumb.url %}" data-large="{{ image.original.url }}" alt="image02" data-description="{% if image.caption %}{{ image.caption }}{% endif %}" /></a>
                {% else %}
                    <img src="{% static thumb.url %}" alt="image02" />
                {% endif %}
                {% endthumbnail %}
            {% endwith %}
            </div>
        </div>

    {% endif %}
{% endwith %}
